body {
    font-family: 'Roboto', sans-serif; /* Fuente Roboto */
    margin: 0;
    padding: 0;
}
header {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten al tamaño de la pantalla */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
